<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title> 
 
</head>
<body style="background-color:aliceblue">
    <div style="background-color: white; margin-top: 10rem; border-radius: 10%; width: 60%; margin: 10rem auto; padding: 30px;">
<h2 style="text-align: center; color: #1e5a80; font-weight: 900;">Password Reset </h2>
<p style="font-weight: 500; margin:10px;">
    Hi,<%= fullName %>, seems like you forgot your password.
    Please click on the link below to reset your password.
</p>
<p style=" text-align: center; font-size: larger;">use <span style="font-weight: 900;"> <%= temppassword %> </span>has old password</p>    
<button style="background-color: #1e5a80; cursor: pointer; display: block; margin: 20px auto; padding: 10px; font-size: larger;" > <a style="color: white; text-decoration: none;" href="<%= url %>">Reset my Password </a></button>
<p style="text-align: center; font-weight: lighter;">Please Ignore this message if you do not request to change your password</p>
</div> 
</body>
</html>